h1 {font-family: 'Open Sans Condensed', sans-serif; color:#86ebe0;

}
h2 {font-family: 'Open Sans Condensed', sans-serif; color:#ffd700; position absolute; margin-left: 2%

}
h3 {font-family: 'Open Sans Condensed', sans-serif; color:#666666; position absolute; margin-left: 4%

}
h4 {font-family: 'Open Sans Condensed', sans-serif; color:#666666

}
h5 {font-family: 'Open Sans Condensed', sans-serif; color: white

}
h6 {font-family: 'Open Sans Condensed', sans-serif; color:#666666

}
p {font-family: 'Open Sans Condensed', sans-serif; color: #666666; position absolute; margin-left: 4%

}
.sum {position absolute; margin-left: 2%;

}
.pic {position absolute; margin-left: 10%

}
.pic { width: 370px;

}
.pic2 {position absolute; margin-left: 10% margin-right: 5%

}
.pic2 { width: 370px;

}
borderß{position absolute: 30%; color: black;

}
body
{background-color:white;
}
